
.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#replay {
    width: 200px;
    height: 50px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}
#result{
    border: tomato;
    border-radius: 3px;
    align-content: center;
}
